@media screen and (max-width: 992px) {
  .bottom-nav {
    width: 100%;
    height: auto;
    position: fixed;
    top: -100%;
    left: 0;
    z-index: -1;
  }
  .bottom-nav ul {
    padding: 20px 0;
    flex-direction: column;
  }
  .bottom-nav.active {
    top: 24px;
  }
  .middleSection {
    border-left: none;
    border-right: none;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    width: 300px;
    margin: auto;
  }
  .home {
    background-position-x: 85%;
  }
  .newsletter {
    flex-direction: column;
    gap: 10px;
  }
  .newsletter form {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  p,
  a,
  i {
    font-size: 12px;
  }
  .myBtn {
    font-size: 12px;
    padding: 10px;
  }
  .newsletter form {
    flex-direction: column;
    align-items: flex-start;
  }
  .newsletter form input {
    margin-bottom: 10px;
  }
  .newsletter form button {
    padding: 10px;
  }
}
@media screen and (max-width: 420px) {
  .logo {
    width: 100%;
  }
}
