* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary: #dd137b;
  --secondary: #ebd9e3;
  --shadow: #dd137b4d;
  --transition: all 0.5s ease-in-out;
}
.primaryBg {
  background: var(--primary);
}
.myRadius {
  border-radius: 3px;
}
.myBorder {
  border: 1px solid var(--primary);
}
.borderBottom {
  border-bottom: 1px solid var(--primary);
  width: fit-content;
  margin: 0 auto;
}
@font-face {
  font-family: "montserrat";
  src: url(../font/montserrat.ttf);
}
body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}
h1,
h2,
p,
ul {
  margin-bottom: 0;
  font-family: "montserrat";
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
}
p,
a,
i {
  font-size: 14px;
  text-decoration: none;
}
.title {
  font-size: 20px;
  font-weight: bold;
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
nav {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
.top-nav {
  background: var(--secondary);
  z-index: 10;
}
.bottom-nav {
  background: var(--primary);
  transition: var(--transition);
  z-index: 10;
}
.pagelinks a {
  color: #fff;
  text-transform: uppercase;
}
.home {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, #0000008a, transparent),
    url(../images/1.png) center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-attachment: fixed;
}
.hamburger {
  cursor: pointer;
}
.myBtn {
  text-transform: uppercase;
  background: var(--primary);
  color: #fff;
  padding: 5px 10px;
  border: none;
  outline: none;
  font-family: "montserrat";
  font-size: 14px;
}
.cancelBtn {
  text-transform: uppercase;
  background: #898989;
  color: #fff;
  padding: 5px 10px;
  border: none;
  outline: none;
  font-family: "montserrat";
  font-size: 14px;
}
.circle1,
.circle2,
.circle3,
.circle4,
.circle5 {
  display: grid;
  place-content: center;
  text-align: center;
}
.circle1 {
  width: 50%;
}
.circle2 {
  width: 40%;
  margin-left: auto;
}
.circle3 {
  width: 50%;
}
.circle4 {
  width: 40%;
}
.circle5 {
  width: 40%;
  margin-left: auto;
}
.circleMargin {
  margin-top: -50px;
}
.middleSection {
  /* border-left: 2px solid var(--primary); */
  /* border-right: 2px solid var(--primary); */
}
.newsletter {
  background: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.newsletter form {
  background: var(--primary);
  padding: 10px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.newsletter form input {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #fff;
}
.newsletter form input::placeholder {
  color: #fff;
}
.newsletter form button {
  padding: 5px 10px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-family: "montserrat";
}
.service {
  background: linear-gradient(#0000009f, #0000009d),
    url(../images/6.png) center no-repeat;
  background-size: cover;
}
.form-group {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: space-between;
}
.form-group input {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--primary);
  flex: 1;
  padding: 5px;
}
.form-group input[type="file"] {
  border-bottom: none;
}
.form-group input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}
.form-group input[type="file"]::before {
  content: "upload file";
  text-transform: uppercase;
  display: inline-block;
  background: none;
  border: 1px solid var(--primary);
  color: var(--primary);
  border-radius: 3px;
  padding: 5px 10px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-family: "montserrat";
  font-size: 14px;
  transition: var(--transition);
}
.form-group input[type="file"]:hover::before {
  background: var(--primary);
  color: #fff;
}
.resumeSection {
  height: 507px;
}
.resumeSection > div {
  height: 100%;
}
.region {
  background: none;
  border: none;
  outline: none;
}
